/* NOTE: the order of these styles DO matter

Will edit everything selected including everything between a range of dates */
.CalendarDay__selected_span {
  background: #82e0aa;
  color: white;
  border: 1px solid #00b0ea;
}

/* Will edit selected date or the endpoints of a range of dates */
.CalendarDay__selected {
  background: #00b0ea;
  color: white;
}

/* Will edit when hovered over. _span style also has this property */
.CalendarDay__selected:hover {
  background: orange;
  color: white;
}

/* Will edit when the second date (end date) in a range of dates
is not yet selected. Edits the dates between your mouse and said date */
.CalendarDay__hovered_span:hover,
.CalendarDay__hovered_span {
  background: brown;
}

.DateInput {
  /* box-shadow: 0px 2px 3px 0px rgba(102, 102, 102, 0.61); */
  border-bottom: 1px solid #00b0ea;
  color: #00b0ea;
}

.DateInput_input {
  font-size: 0.9em;
  height: 31px;
  width: 100px;
  border-style: none;
  color: #00b0ea;
  font-size: 16px;
  font-family: "Lato";
  padding: 10px;
}

.SingleDatePickerInput {
  border-radius: 0px;
  color: #00b0ea;
  border-style: none;
}

.DateInput_input::placeholder {
  color: #00b0ea;
}
